body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

a:link { color: #408FDF; }
a:visited { color: #c59ceb; }
a:hover { color: lightskyblue; }
a:active { font-weight: bold; }

.bottom {
  margin-top: 10000px;
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}