body {
    background-color: white;
    color: black;
}

footer {
  text-align: center;
  font-size: 14px;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}