body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.bottom {
  margin-top: 10000px;
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}